:root {
  --powderBlue: #a6c1d6;
  --reflection: #dfdedc;
  --softGold: #c4b28c;
  --autumn: #8f625d;
  --calmOcean: #7f9392;
  --negro: black;
  --blanco: white;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--reflection);
  color: var(--negro);
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  margin: 10;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 90%;
}

/* nav */

.top_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--autumn);
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.top_nav .navegacion_left .menu a {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--blanco);
  padding: 10px;
  margin: 10px;
}


/* clase subrrayado links */

.hover-underline-animation {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blanco);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.top_nav .navegacion_right a {
  font-size: 12px;
  text-decoration: none;
  color: var(--blanco);
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.top_nav .navegacion_right a:hover {
  color: var(--reflection);
}

.top_nav .navegacion_right a i {
  padding: 10px;
  font-size: 1rem;
}

/* header */


.wrapper .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper .header .hero_background {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  margin: 20px;
}

.wrapper .header .hero_background .hero_content h1 {
  color: var(--blanco);
  font-family: 'Open Saens', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-size: 4rem;
  font-weight: 700;
  margin-block-end: 20px;
  margin: 100px 30px 20px 30px;
  max-width: 600px;
}

.wrapper .header .hero_background .hero_content p {
  color: var(--blanco);
  font-size: 1.2rem;
  margin: 20px 30px;

}

.wrapper .header .heroForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blanco);
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  box-shadow: var(--negro);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 20px 10px;
}

.wrapper .header .heroForm .title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

.wrapper .header .heroForm .search_form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  width: 100%;
}

.wrapper .header .heroForm .search_form .input_wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.wrapper .header .heroForm .search_form .input_wrapper .dropdownList {
  width: 180px;
  min-height: 40px;
  border: 1px solid var(--calmOcean);
  background-color: var(--reflection);
}

.wrapper .header .heroForm .search_form .input_wrapper .dropdownList option {
  font-size: 1rem;
}

.wrapper .header .heroForm .search_form .input_wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .header .heroForm .search_form .input_wrapper button p {
  margin: 0px;
  align-items: center;
}

.wrapper .header .heroForm .search_form .btn_buscar {
  padding: 0px 10px;
  min-height: 40px;
  border: 1px solid var(--calmOcean);
  background-color: var(--calmOcean);
  color: var(--blanco);
}
.wrapper .header .heroForm .search_form .btn_buscar:hover {
opacity: 0.8;
}


/* Nuestros servicios */

.wrapper .servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.wrapper .servicios .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.wrapper .servicios .container .titulo_servicios {
  font-size: 22px;
  font-weight: 800;

}

.wrapper .servicios .container .texto_servicios_titulo {
  padding: 0px 80px;
  text-align: center;
  max-width: 800px;
}

.wrapper .servicios .container .listaServicios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px 0px;
  padding-left: 0px;
}

.wrapper .servicios .container .listaServicios .tarjeta_servicio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.wrapper .servicios .container .listaServicios .tarjeta_servicio h3 {
  padding: 10px;
}

.wrapper .servicios .container .listaServicios .tarjeta_servicio p {
  line-height: 200%;
  text-align: justify;
}

/* nuestras  propiedades */

.propiedades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.propiedades .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 22px;
  font-weight: 800;
}

.propiedades .titulo h2 {
  font-size: 22px;
  font-weight: 800;
}

.ultimas_propiedades .titulo h2 {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}

/* Cards de las propiedades */

.container {
  width: 100%;
  margin: 20ox auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .box {
  width: calc((100% / 3) - 20px);
  background-color: white;
  position: relative;
  margin-top: 20px;
}

.container .box .top {
  position: relative;
  background-color: red;
}

.container .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 187, 175, 0.829);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:before {
  opacity: 1;
}

.container .box .top:after {
  content: "View Property";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:after {
  opacity: 1;
}

.container .box .top img {
  width: 100%;
  margin-bottom: -4px;
}

/* posiciona iconos */
.container .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.container .box .top span i {
  margin-left: 5px;
}


.container .box .bottom {
  padding: 20px 15px;
  position: relative;
}


.container .box .bottom h3 {
  font-size: 15px;
}

.container .box .bottom>p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}

.container .box .bottom .advants {
  display: flex;
}

.container .box .bottom .advants>div {
  margin-right: 15px;
}

.container .box .bottom .advants>div>span {
  font-weight: bold;
  font-size: 12px;
}

.container .box .bottom .advants>div>div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.container .box .bottom .advants>div>div i {
  color: #777;
  font-size: 22px;
}

.container .box .bottom .advants>div>div>span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.container .box .bottom .advants>div>div>span>span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.container .box .bottom .price {
  margin-top: 20px;
}

.container .box .bottom .price span {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  color: green;
}

/* Cards de Ultimas  propiedades */

.container2 {
  width: 100%;
  margin: 20ox auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container2 .box {
  width: calc((100% / 3) - 20px);
  background-color: white;
  position: relative;
  margin-top: 20px;
}

.container2 .box .top {
  position: relative;
  background-color: red;
}

.container2 .box .top img {
  width: 100%;
}

.container2 .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 187, 175, 0.829);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.container2 .box .top:hover:before {
  opacity: 1;
}

.container2 .box .top:after {
  content: "View Property";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.container2 .box .top:hover:after {
  opacity: 1;
}

.container .box .top img {
  width: 100%;
  margin-bottom: -4px;
}

/* posiciona iconos */
.container2 .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.container2 .box .top span i {
  margin-left: 5px;
}


.container2 .box .bottom {
  padding: 20px 15px;
  position: relative;
}


.container2 .box .bottom h3 {
  font-size: 15px;
}

.container2 .box .bottom>p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}

.container2 .box .bottom .advants {
  display: flex;
}

.container2 .box .bottom .advants>div {
  margin-right: 15px;
}

.container2 .box .bottom .advants>div>span {
  font-weight: bold;
  font-size: 12px;
}

.container2 .box .bottom .advants>div>div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.container2 .box .bottom .advants>div>div i {
  color: #777;
  font-size: 22px;
}

.container2 .box .bottom .advants>div>div>span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.container2 .box .bottom .advants>div>div>span>span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.container2 .box .bottom .price {
  margin-top: 20px;
}

.container2 .box .bottom .price span {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  color: green;
}

/* contacto */

.wrapper .contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;

}

.wrapper .contacto .form {
  width: 50%;

}

.wrapper .contacto .form input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.wrapper .contacto .form button {
  background-color: var(--calmOcean);
  color: var(--blanco);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.wrapper .contacto .form button:hover {
  opacity: 0.8;
}


/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--autumn);
  margin-top: 10px;
}

.footer .contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer .contenido .copy {
  display: flex;
  color: var(--blanco);
}

.footer .contenido .copy p {
  font-size: 1rem;
}

.footer .contenido .redes_sociales {
  display: flex;
  color: var(--blanco);
}

.footer .contenido .redes_sociales a {
  font-size: 1.2rem;
}


.modal{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 0;
  pointer-events: none;
}

.modal__show{
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 1;
  pointer-events: unset;
}


.modal_container{
  width: 90%;
  margin: auto;
  background-color: #FFFFFF;
  max-width: 600px;
  max-height: 90%;
  padding: 3em 2.5em;
  border-radius: 6px;
  display: grid;
  gap: 1em;
  place-items:center;
  grid-auto-columns: 100%;
}

.modal_close{
  text-decoration: none;
  color: #FFFFFF;
  background-color: var(--calmOcean);
  padding: 1em 3em;
  border: 1px solid;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}
.modal_close:hover{
  color: var(--calmOcean);
  background-color:var(--blanco);
  
}
.img_modal{
  width: 90%;
  max-width: 300px;
}


@media screen and (max-width: 576px) {

  .wrapper .header .heroForm .search_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
  }
  
  .container .box {
    width: 100%;
    background-color: white;
  }

 
  .wrapper .servicios .container .listaServicios {
    display: flex;
    flex-direction: column;
  }
  
  .wrapper .servicios .container .listaServicios .tarjeta_servicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
  }

  .container2 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .container2 .box {
    width: calc(100% - 20px);
    background-color: white;
    position: relative;
    margin-top: 20px;
  }


  .wrapper .contacto .form {
    width: 90%;
  }

  .footer .contenido {
    display: flex;
    flex-direction: column;
  }


}